<style>
  #clockdiv {
    font-family: sans-serif;
    color: #fff;
    margin: auto;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }

  .smalltext {
    padding-top: 5px;
    font-size: 16px;
  }
</style>

<div id="clockdiv">
  <div class="pa2 br3 bg-green dib">
    <span class="pa3 br3 bg-dark-green dib days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div class="pa2 br3 bg-green dib">
    <span class="pa3 br3 bg-dark-green dib hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div class="pa2 br3 bg-green dib">
    <span class="pa3 br3 bg-dark-green dib minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div class="pa2 br3 bg-green dib">
    <span class="pa3 br3 bg-dark-green dib seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<script src="./js/clock.js" charset="utf-8"></script>
