<div class="tc fw1 f2 near-white sans-serif center" id="clockdiv">
  <div class="pa2 br3 bg-blue dib">
    <span class="pa3 br3 bg-dark-blue dib days"></span>
    <div class="pt1 f5 fw1">Days</div>
  </div>
  <div class="pa2 br3 bg-blue dib">
    <span class="pa3 br3 bg-dark-blue dib hours"></span>
    <div class="pt1 f5 fw1">Hours</div>
  </div>
  <div class="pa2 br3 bg-blue dib">
    <span class="pa3 br3 bg-dark-blue dib minutes"></span>
    <div class="pt1 f5 fw1">Minutes</div>
  </div>
  <div class="pa2 br3 bg-blue dib">
    <span class="pa3 br3 bg-dark-blue dib seconds"></span>
    <div class="pt1 f5 fw1">Seconds</div>
  </div>
</div>

<script src="./js/clock.js" charset="utf-8"></script>
