<footer class="pv4 ph3 ph5-m ph6-l white-80">
  <small class="f6 db tc">© 2017<b class="ttu">SOME COMPANY Inc.</b>, All Rights Reserved</small>
  <div class="tc mt3">
    <a href="deathtostockphot" title="dtsp" class="f6 dib ph2 link near-white dim">Cover photo by Death to Stock Photo</a>
    <a href="/language/" title="Language" class="f6 dib ph2 link near-white dim">Language</a>
    <a href="/terms/" title="Terms" class="f6 dib ph2 link near-white dim">Terms of Use</a>
    <a href="/privacy/" title="Privacy" class="f6 dib ph2 link near-white dim">Privacy</a>
  </div>
</footer>
