<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.meta-description }}">
    <meta name="author" content="{{site.author}}">
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    {% if site.bing_site_verification %}<meta name="msvalidate.01" content="{{site.bing_site_verification}}" />{% endif %}
    {% if site.google_site_verification %}<meta name="google-site-verification" content="{{site.google_site_verification}}">{% endif %}
    {% capture title %}{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}{% endcapture %}
    <title>{{ title }}</title>
    <!-- Google+ Authorship -->
    <link rel="author" href="https://plus.google.com/+tachyonstemplates">
    <link rel="publisher" href="https://plus.google.com/+tachyonstemplates">
    <!-- Styles -->
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- Fav Icon and Apple Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicons/logo.png" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/img/favicons/logo.png" />
    <!-- Open Graph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.meta-description }}">
    <meta property="og:image" content="/img/favicons/logo.png">
    <!-- Canonical -->
    <link rel="canonical" href="{{site.url}}">
    <meta property="og:url" content="{{site.url}}">

</head>
